<ul class="nav nav-list">
  <li>
	<a href="{% url home-view %}">
	  <i class=" icon-eye-open"></i>
	  Notifications
	</a>
  </li>
  <li class="nav-header">Profile</li>
  <li>
	<a href="{% url profile-friendsgroup-list %}">
	  <i class="icon-heart"></i>
	  Friend Groups
	</a>
  </li>
  
  <li style="padding-left:10px;">
	<a href="{% url profile-friendsgroup-create %}">
	  <i class="icon-plus-sign"></i>
	  Create
	</a>
  </li>
  <li>
	<a href="{% url profile-promotion-list %}">
	  <i class="icon-gift"></i>
	  Promotions
	</a>
  </li>
  <li style="padding-left:10px;">
	<a href="{% url profile-promotion-history-list %}">
	  <i class="icon-align-justify"></i>
	  History
	</a>
  </li>
  <li>
	<a href="{% url wishlists-list %}">
	  <i class="icon-list"></i>
	  Whishlists
	</a>
  </li>
  
  <li style="padding-left:10px;">
	<a href="{% url wishlist-create %}">
	  <i class="icon-plus-sign"></i>
	  Create
	</a>
  </li>
  <li class="nav-header">Begin Here</li>
  
  
  <li>
	<a href="{% url retailers-list %}">
	  <i class="icon-bullhorn"></i>
	  Retailers
	</a>
  </li>
  <li>
	<a href="{% url products-list %}">
	  <i class="icon-barcode"></i>
	  Products
	</a>
  </li>
  <li>
	<a href="{% url promotions-list %}">
	  <i class="icon-shopping-cart"></i>
	  Promotions
	</a>
  </li>
  
  <li class="nav-header">Settings</li>
  <li>
	<a href="#">
	  <i class="icon-user"></i>
	  Your Settings
	</a>
  </li>
  <li>
	<a href="{% url about-us-view %}">
	  <i class="icon-info-sign"></i>
	  About us
	</a>
  </li>
</ul>