{% extends template %}

{% block content %}
	<h3>About us</h3>
	<br/>
	<div class="well">
	<p>
		Social Retail is an easy-integrateable platform where common users can gather their friends to join promotions and earn some  reasonable discounts in the most recently launched products.
	</p>
	<p>
		Each user must only make login with their Facebook account and start looking for brand new  products and call their friends. This website allows retailers to publish their available products so that common users may look for. 
	</p>
	<p>
		This paradigm is as beneficial for the selling retailer as for the common user (earning  discounts for their favourite products). 
	</p>
	<p>
		mySocialRetail is the ultimate form of selling products in the current social networks.
	</p>
	</div>
{% endblock %}