{% extends "facebook/default/base.html" %}


{% block content %}
	<ul class="breadcrumb">
	  <li>
	    <a href="{% url promotions-list %}">Promotions</a> <span class="divider">/</span>
	  </li>
	  <li class="active">Promotion Detail</li>
	</ul>
	<div class="tabbable"> <!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#details" data-toggle="tab">Promotion</a></li>
			{% if promotion_status = 'available' %}
			<li><a href="#friends" data-toggle="tab">Friends</a></li>
			<li><a href="#groups" data-toggle="tab">Group you are access</a></li>
			{% endif %}
			<li><a href="#comments" data-toggle="tab">Comments</a></li>
			
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="details"></div>
			
			<div class="tab-pane" id="friends"></div>
			
			<div class="tab-pane" id="groups"></div>
			
			<div class="tab-pane" id="comments">
			  {% include "facebook/product/comments.html" %}
			</div>
		</div>
	</div>
	
	
<script>
	jQuery.extend({
	   postJSON: function( url, data, callback) {
	      return jQuery.post(url, data, callback, "json");
	   }
	});
	
	function setActiveTab(tab){
		var elem = $("a[href="+tab+"]");
		$(elem).parents('ul').find('li').removeClass('active');
		$(elem).parents('li').addClass('active');
		$(elem).parents('div.tabbable').find('div.tab-pane').removeClass('active');
		$(tab).addClass('active');
		$(elem).trigger('click');		
	}
	
	$(function() {
		function myreloadAjax(elem,form,url){
			
			if(typeof form != "undefined" ){
				form = $(form).parents('form');
				$.postJSON((elem,form,url),$(form).serialize(), function(data) {
				  	if(data.ok){
				    	$(elem).html(data.data);
				    }
				}).complete(function(){
					elem.trigger('ajaxstop');
				});
			}else{
				$.getJSON((elem,form,url), function(data) {
				  	if(data.ok){
				    	$(elem).html(data.data);
				    }
				}).complete(function(){
					elem.trigger('ajaxstop');
				});
			}
			$(elem).html('').trigger('ajaxstart');
		}
		
		$('#friends').bind('reload',function(event,form){
			myreloadAjax($(this),form,'{% url promotion-detail-friends-ajax pk=promotion.pk %}');
		});
		
		$('#details').bind('reload',function(event,form){
			myreloadAjax($(this),form,'{% url promotion-detail-ajax pk=promotion.pk %}');
		});
		
		$('#groups').bind('reload',function(event,form){
			myreloadAjax($(this),form,'{% url promotion-detail-groups-ajax pk=promotion.pk %}');
		});
		
		$('#friends,#groups,#comments,#details').bind('ajaxstart',function(){
			console.log('start');
		}).bind('ajaxstop',function(){
			console.log('stop');
		});
		
		$("a[href='#friends'],a[href='#groups'],a[href='#comments'],a[href='#details']").click(function(event){
			$($(this).attr('href')).trigger('reload');
		});
		
		$('#details').trigger('reload');
		
		
		
	});
</script>
{% endblock %}