<div class="well">
	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
		  			<img src="{{ product.photo }}" />
				</div>
				<div class="span10">
					<form class="form-horizontal">
		      			<fieldset>
			    			<legend> <a href="{% url product-detail pk=product.pk %}">{{ product.name }}</a>
			    				<span style="float:right">
			    					&nbsp;&nbsp;{{ promotion.formattedprice }}
			    				</span>
			    				<span style="float:right; text-decoration:line-through; font-size:15px;">
			    					{{ product.formattedprice }}
			    				</span>
			    			</legend>
						    <div class="control-group">
						      <h5>Description</h5>
						      <p>{{ product.description }}</p>
						    </div>
			  			</fieldset>
		  			</form>
				</div>
			</div>
			<div class="row-fluid">
				<h4>
				{% if inPromotion %}
					{% if promotion_status = 'win' %}
						<p>You win this promotion with {{ friendsInPromotion|length }} friends:</p>
					{% else %}
						{% if friendsInPromotion|length > 0 %}
							<p>You are in this promotion with {{ friendsInPromotion|length }} friends:</p>
						{% else %}
							<p>You are alone in this promotion.</p>
						{% endif %}
					{% endif %}
				{% else %}
					{% if promotion_status = 'close' %}
					<p>This promotion is closed</p>
					{% else %}
					<p> You're not in any group of this promotion.</p>
					<p> <a href="javascript:void(0);" onclick="setActiveTab('#groups');" >Join now?</a> hurry up, this offer ends in {{ promotion.end_date|date:'d-m-Y H:i' }} </p>
					{% endif %}
				{% endif %}
				</h4>
				{% if inPromotion %}
					{% if friendsInPromotion|length > 0 %}
					<table class="table table-striped" >
						<tbody>
							{% for friend in friendsInPromotion %}
							<tr>
								<td></td>
								<td></td>
								<td>{{ friend.name }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
					{% if promotion_status = 'available' %}
					<h4>
						<p>
							You only need {{ friendsNeed }} more friends. 
							<a href="javascript:void(0);" onclick="setActiveTab('#friends');" >Invite now?</a> 
						</p>
					</h4>
					{% endif %}
				{% endif %}
			</div>
			<div class="row-fluid">
				<fieldset>
	    			<legend>
		    			{% if retailer.url %}
							<a href="{{ retailer.url }}" target="_blank">{{ retailer.name }}</a>
						{% else %}
							{{ retailer.name }}
						{% endif %}
		    			
		    			{% if retailer.photo %}
							<img src="{{ retailer.photo }}" width="100px" style="float:right;" />
						{% endif %}
	    			</legend>
	    			{% if promotion.url %}
					    <div class="control-group">
						  <a href="{{ promotion.url }}" target="_blank">Link Retailer Description</a>
					    </div>
				    {% endif %}
				    
				    {% if promotion.end_date %}
					    <div class="control-group">
					      <h5>Promotion ends:</h5>
					      <p>{{ promotion.end_date|date:'d-m-Y H:i' }}</p>
						</div>
				    {% endif %}
				    <div class="control-group">
				      <h5>Number of elements of the group:</h5>
				      <p>{{ promotion.elements_number }}</p>
					</div>
	  			</fieldset>
			</div>
	</div>
</div>