{% extends "facebook/default/base.html" %}


{% block content %}
	<style>
		.form-horizontal .control-label {
			width:80px;
		}
		.form-horizontal .controls {
			margin-left:100px;
		}
	</style>
	<ul class="breadcrumb">
	  <li>
	    <a href="{% url profile-friendsgroup-list %}">Friends Groups</a> <span class="divider">/</span>
	  </li>
	  <li class="active">{% block fiends_title %}Friends Groups Create{% endblock %}</li>
	</ul>
	
	<form class="well form-horizontal" method="post" style="width:auto;">
		{% csrf_token %}
		<fieldset>
		{% for field in form %}
			{% if field.name == "utilizador" %}
			{% else %}
			<div class="control-group">
	            <label class="control-label" for="input01">{{ field.label }}</label>
	            <div class="controls">
	              {{ field }}
	              {% if field.errors %}
	              	<p class="help-block">{{ field.errors }}</p>
	              {% endif %}
	            </div>
	        </div>
			{% endif %}
		{% endfor %}
			<div class="form-actions">
				{% block friends_options %}
	            <button type="submit" class="btn btn-primary">Create</button>
	            {% endblock %}
	            <button class="btn">Cancel</button>
	        </div>
		</fieldset>
	</form>
{% endblock %}