{% extends "facebook/default/base.html" %}


{% block content %}
	<ul class="breadcrumb">
	  <li class="active">Friends Groups</li>
	</ul>
	
	<form class="well form-search" method="post">
	  {% csrf_token %}
	  <input type="text" name="search" class="input-medium search-query" value="{{ search }}">
	  <button type="submit" class="btn">Search</button>
	</form>
	
	{% if groups|length > 0 %}
	<table class="table table-striped">
		<thead>
			<th width="1%"></th>
			<th>Name</th>
		</thead>
		<tbody>
			{% for group in page.object_list %}
			<tr>
				<td nowrap="nowrap">
					<i onclick="window.location='{% url profile-friendsgroup-edit pk=group.pk %}';" 
						class="icon-edit" style="cursor:pointer;" title="Edit">
					</i>
					<i onclick="if(confirm('Realy remove FriendsGroup {{ group.name }}?')) window.location='{% url profile-friendsgroup-remove pk=group.pk %}';" 
						class="icon-remove" style="cursor:pointer;" title="Remove" >
					</i>
				</td>
				<td>
					
					<div>
						<span class="group_name">{{ group.name }}</span>
						<span title="see friends" class="see_friends" 
							style="float:right; cursor:pointer;" 
							data-visible="0" >
							See Friends
							<i class="icon-chevron-down"></i>
						</span>
					</div>
					<div class="table_friends_groups" style="display:none;" >
						{% include "facebook/friendsgroups/friends.html"%}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<div class="pagination">
					  <ul>
					  	{% if page.has_previous %}
					    	<li>
					    		<a href="{% url profile-friendsgroup-list  %}?page={{ page.previous_page_number }}">
					    		Prev
					    		</a>
					    	</li>
					    {% endif %}
					    {% for p in paginator.page_range %}
					    	{% if page_number = p %}
					    		<li class="active">
							      <a href="javascript:void(0);">{{ p }}</a>
							    </li>
					    	{% else%}
							    <li >
							      <a href="{% url profile-friendsgroup-list %}?page={{ p }}">{{ p }}</a>
							    </li>
					    	{% endif %}
					    {% endfor %}
					    {% if page.has_next %}
					    	<li>
					    		<a href="{% url profile-friendsgroup-list %}?page={{ page.next_page_number }}">
					    		Next
					    		</a>
					    	</li>
					    {% endif %}
					  </ul>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
	
<script>
$(".see_friends").click(function(){
		var melem = this;
		$(this).parents('tbody').find('span.see_friends[data-visible=1]').each(function(i,elem){
			if(elem != melem){
				$(elem).attr('data-visible',0).find('i').attr('class','icon-chevron-down');
				$(elem).parents('td').find('div.table_friends_groups').hide('normal');
			}
		});
		
		$(this).find('i').attr('class','');
		if($(this).attr("data-visible")=="0"){
			$(this).attr("data-visible",1);
			$(this).find('i').addClass('icon-chevron-up');
		}else{
			$(this).attr("data-visible",0);
			$(this).find('i').addClass('icon-chevron-down');
		}
		
		$(this).parents('td').find('div.table_friends_groups').toggle('slow');
});
</script>

	{% else %}
		No Groups
	{% endif %}
{% endblock %}