{% extends "facebook/default/base.html" %}


{% block content %}
	<h3>Products List</h3>
	<form class="well form-search">
	  <input type="text" class="input-medium search-query">
	  <button type="submit" class="btn">Search</button>
	</form>
	<table class="table table-striped">
		<thead>
			<th>Photo</th>
			<th>Name</th>
			<th>Base Price</th>
		</thead>
		<tbody>
			<tr>
				<td>dfgh</td>
				<td>dfgh</td>
				<td>dfgh</td>
			</tr>
			<tr>
				<td>dfgh</td>
				<td>dfgh</td>
				<td>dfgh</td>
			</tr>
			<tr>
				<td>dfgh</td>
				<td>dfgh</td>
				<td>dfgh</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					
					<div class="pagination">
					  <ul>
					    <li><a href="#">Prev</a></li>
					    <li class="active">
					      <a href="#">1</a>
					    </li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">Next</a></li>
					  </ul>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}