{% extends "facebook/default/base.html" %}


{% block content %}
	<ul class="breadcrumb">
	  <li class="active">Promotions</li>
	</ul>
	<form class="well form-search" method="post">
	  {% csrf_token %}
	  <input type="text" class="input-medium search-query" name="search" value="{{ search }}" >
	  <button type="submit" class="btn">Search</button>
	</form>
	<table class="table table-striped">
		<thead>
			<th>Photo</th>
			<th>Name</th>
			<th>Price</th>
			<th>Elements Group</th>
			<th>Retailer</th>
			
		</thead>
		<tbody>
			{% for promotion in page.object_list %}
				{% with product=promotion.product %}
				<tr>
					<td>
						<img src="{{ product.photo }}" width="80px" />
					
					</td>
					<td>
						<a href="{% url product-detail pk=product.pk %}#promotions">{{ product.name }}</a>
					</td>
					<td>{{ promotion.formattedprice }}</td>
					<td>{{ promotion.elements_number}}</td>
					<td>
						<a href="{% url retailer-detail pk=promotion.retailer.pk %}" >
							{{ promotion.retailer.name }}
						</a>
					</td>
				</tr>
				{% endwith %}
			{% endfor %}
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<div class="pagination">
					  <ul>
					    {% if page.has_previous %}
					    	<li>
					    		<a href="{% url promotions-list  %}?page={{ page.previous_page_number }}">
					    		Prev
					    		</a>
					    	</li>
					    {% endif %}
					    {% for p in paginator.page_range %}
					    	{% if page_number = p %}
					    		<li class="active">
							      <a href="javascript:void(0);">{{ p }}</a>
							    </li>
					    	{% else%}
							    <li >
							      <a href="{% url promotions-list %}?page={{ p }}">{{ p }}</a>
							    </li>
					    	{% endif %}
					    {% endfor %}
					    {% if page.has_next %}
					    	<li>
					    		<a href="{% url promotions-list %}?page={{ page.next_page_number }}">
					    		Next
					    		</a>
					    	</li>
					    {% endif %}
					  </ul>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}