{% extends "facebook/default/base.html" %}


{% block content %}
	<ul class="breadcrumb">
	  <li>
	    <a href="{% url retailers-list %}">Retailers</a> <span class="divider">/</span>
	  </li>
	  
	  <li class="active">{{ object.name }}</li>
	</ul>
	
<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#details" data-toggle="tab">Retailer</a></li>
		<li><a href="#promotions" data-toggle="tab">Promotions</a></li>
		<li><a href="#comments" data-toggle="tab">Comments</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="details">
			{% include "facebook/retailer/details.html" %}
		</div>
		
		<div class="tab-pane" id="promotions"></div>
		
		<div class="tab-pane" id="comments">
		  {% include "facebook/product/comments.html" %}
		</div>
		
	</div>
</div>

<script>
	jQuery.extend({
	   postJSON: function( url, data, callback) {
	      return jQuery.post(url, data, callback, "json");
	   }
	});

	$(function() {
		function myreloadAjax(elem,form,url){
			
			if(typeof form != "undefined" ){
				form = $(form).parents('form');
				$.postJSON((elem,form,url),$(form).serialize(), function(data) {
				  	if(data.ok){
				    	$(elem).html(data.data);
				    }
				}).complete(function(){
					elem.trigger('ajaxstop');
				});
			}else{
				$.getJSON((elem,form,url), function(data) {
				  	if(data.ok){
				    	$(elem).html(data.data);
				    }
				}).complete(function(){
					elem.trigger('ajaxstop');
				});
			}
			$(elem).html('').trigger('ajaxstart');
		}
		
		$('#promotions').bind('reload',function(event,form){
			myreloadAjax($(this),form,'{% url retailer-promotion-ajax retailer_pk=object.pk %}');
		});
		
		
		$('#promotions,#comments').bind('ajaxstart',function(){
			console.log('start');
		}).bind('ajaxstop',function(){
			console.log('stop');
		});
		
		$("a[href='#comments'],a[href='#promotions']").click(function(event){
			$($(this).attr('href')).trigger('reload');
		});
	});
</script>
	
{% endblock %}