{% extends "facebook/default/base.html" %}


{% block content %}
	<h3>Retailers List</h3>
	<form class="well form-search" method="post">
	  {% csrf_token %}
	  <input type="text" class="input-medium search-query" name="search" value="{{ search }}" >
	  <button type="submit" class="btn">Search</button>
	</form>
	<table class="table table-striped">
		<thead>
			<th>Logo</th>
			<th>Name</th>
			<th>Retailer Page</th>
		</thead>
		<tbody>
			{% for retailer in page.object_list %}
			<tr style="cursor:pointer;">
				<td>
					<img src="{{ retailer.photo }}" width="80px" />
				</td>
				<td>
					<a href="{% url retailer-detail pk=retailer.pk %}" >{{ retailer.name }}</a>
				</td>
				<td>
					{% if retailer.url %}
						<a href="{{ retailer.url }}" target="_blank">Webpage</a>
					{% else %}
					N/A
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<div class="pagination">
					  <ul>
					    {% if page.has_previous %}
					    	<li>
					    		<a href="{% url retailers-list  %}?page={{ page.previous_page_number }}">
					    		Prev
					    		</a>
					    	</li>
					    {% endif %}
					    {% for p in paginator.page_range %}
					    	{% if page_number = p %}
					    		<li class="active">
							      <a href="javascript:void(0);">{{ p }}</a>
							    </li>
					    	{% else%}
							    <li >
							      <a href="{% url retailers-list %}?page={{ p }}">{{ p }}</a>
							    </li>
					    	{% endif %}
					    {% endfor %}
					    {% if page.has_next %}
					    	<li>
					    		<a href="{% url retailers-list %}?page={{ page.next_page_number }}">
					    		Next
					    		</a>
					    	</li>
					    {% endif %}
					  </ul>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
{% endblock %}