{% extends "facebook/default/base.html" %}


{% block content %}
	<h3>Wishlist List</h3>
	<form class="well form-search" method="post">
		{% csrf_token %}
	  <input type="text" class="input-medium search-query" name="search" value="{{ search }}">
	  <button type="submit" class="btn">Search</button>
	</form>
	<table class="table table-striped">
		<thead>
			<th width="1%"></th>
			<th>Name</th>
		</thead>
		<tbody>
			{% for wishlist in page.object_list %}
			<tr>
				<td nowrap="nowrap">
					<i onclick="window.location='{% url wishlist-edit pk=wishlist.pk %}';" 
						class="icon-edit" style="cursor:pointer;" title="Edit">
					</i>
					<i onclick="if(confirm('Realy remove wishlist {{ wishlist.name }}?')) window.location='{% url wishlist-remove pk=wishlist.pk %}';" 
						class="icon-remove" style="cursor:pointer;" title="Remove" >
					</i>
				</td>
				<td>
					<div>
						<span class="wishlist_name">{{ wishlist.name }}</span>
						<span title="see products" class="see_list" 
							style="float:right; cursor:pointer;" 
							data-visible="0" >
							See Products
							<i class="icon-chevron-down"></i>
						</span>
					</div>
					<div class="table_wishlist_products" style="display:none;" >
						{% include "facebook/product/wishlists_products.html"%}
					</div>
 				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					
					<div class="pagination">
					  <ul>
					    {% if page.has_previous %}
					    	<li>
					    		<a href="{% url wishlists-list  %}?page={{ page.previous_page_number }}">
					    		Prev
					    		</a>
					    	</li>
					    {% endif %}
					    {% for p in paginator.page_range %}
					    	{% if page_number = p %}
					    		<li class="active">
							      <a href="javascript:void(0);">{{ p }}</a>
							    </li>
					    	{% else%}
							    <li >
							      <a href="{% url wishlists-list %}?page={{ p }}">{{ p }}</a>
							    </li>
					    	{% endif %}
					    {% endfor %}
					    {% if page.has_next %}
					    	<li>
					    		<a href="{% url wishlists-list %}?page={{ page.next_page_number }}">
					    		Next
					    		</a>
					    	</li>
					    {% endif %}
					  </ul>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
<script>
$(".see_list").click(function(){
		var melem = this;
		$(this).parents('tbody').find('span.see_list[data-visible=1]').each(function(i,elem){
			if(elem != melem){
				$(elem).attr('data-visible',0).find('i').attr('class','icon-chevron-down');
				$(elem).parents('td').find('div.table_wishlist_products').hide('normal');
			}
		});
		
		$(this).find('i').attr('class','');
		if($(this).attr("data-visible")=="0"){
			$(this).attr("data-visible",1);
			$(this).find('i').addClass('icon-chevron-up');
		}else{
			$(this).attr("data-visible",0);
			$(this).find('i').addClass('icon-chevron-down');
		}
		
		$(this).parents('td').find('div.table_wishlist_products').toggle('slow');
});
</script>
{% endblock %}