{% extends "facebook/default/base.html" %}

{% block left_menu %}
	{% include "facebook/default/left_menu_login.html" %}
{% endblock %}

{% block content %}
	<h3>Login</h3>
	<div class="well">
	<p>
		Make Login
	</p>
	</div>
	<form class="well form-inline" style="width:auto;">
	  <input type="text" class="input-medium" placeholder="Email">
	  <input type="password" class="input-small" placeholder="Password">
	  <label class="checkbox">
	    <input type="checkbox"> Remember me
	  </label>
	  <button type="submit" class="btn">Sign in</button>
	</form>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Recover Password</button>
	</div>
{% endblock %}

{% block top_options %}{% endblock %}