{% extends "facebook/default/base.html" %}

{% block left_menu %}
	{% include "facebook/default/left_menu_login.html" %}
{% endblock %}

{% block content %}
	<h3>Login</h3>
	<div class="well">
		<p>
			Make Login
		</p>
	</div>
	<form class="well form-inline" method="post" style="width:auto;">
		{% csrf_token %}
		{% for field in form %}
			{% if field.name != "remember" %}
				{{ field }}
			{% else %}
				<label class="checkbox">
					{{ field }} Remember me
				</label>
			{% endif %}
		{% endfor %}
		<button type="submit" class="btn">Sign in</button>
		<div>
		{{ form.errors }}
		</div>
		
		{{ message }}
	</form>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Recover Password</button>
	</div>
{% endblock %}

{% block top_options %}{% endblock %}